.starships {
    margin-top: 60px !important;

    &-list {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .starships {

        &-list {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .starships {

        &-list {
            grid-template-columns: 1fr 1fr;
        }
    }
}