<main>
    <section class="starships">
        <div class="starships-list px-5">
            @if(starshipResults$ | async; as resultObject){
            @for(ship of resultObject.results; track $index) {
            <div class="card">
                <div class="card-body border border-secondary">
                    <a routerLink="/starship" (click)="showShip(ship)">
                        <h5 class="card-title">{{ship.name}}</h5>
                    </a>
                    <p class="card-text">{{ship.model}}</p>
                    <!-- <p>{{ship.url}}</p> -->
                </div>
            </div>
            }
            }
        </div>
    </section>
</main>