.starships {
    margin-top: 60px !important;

    &-list {
        display: flex !important;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
}

.card {
    width: 400px;
    height: 100px;
}

.card-body {
    border-radius: 10px !important;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(255,255,255,1);
    box-shadow: 2px 2px 5px 0px rgba(255,255,255,1);

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .starships {

        &-list {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .starships {

        &-list {
            grid-template-columns: 1fr 1fr;
        }
    }
}