<main>
    <section class="showcase">
        <div class="showcase-slides">
            @if(slideImgs) {
            @for(img of slideImgs; track $index) {
            @if($index === slide) {
            <div class="showcase-img">
                <img src="{{img.img}}" alt="">
            </div>
            }
            }
            }

        </div>
        <div class="showcase-btns">
            <div class="showcase-arrow px-2">
                <button (click)="prevSlide()" class="showcase-prev">&#10094;</button>
                <button (click)="nextSlide()" class="showcase-next">&#10095;</button>
            </div>
        </div>
    </section>
    <section class="hero">
        <div class="hero-text">
            <h2 class="hero-title text-center text-white fs-6 pt-3 text-uppercase">All of your favourite Starwars ships
                just
                in one place
            </h2>
        </div>
        <div class="hero-cta">
            <div class="hero-cta_text text-white mb-5">
                <h1 class="mb-5 fs-1">STARWARS SHIPS</h1>
                <p class="fs-4 mb-5">Just with one click</p>
            </div>
            <button routerLink="/starships">CHECK IT OUT</button>

        </div>
    </section>
</main>