.showcase {
    width: 100%;
    margin: 0 auto;
    // height: calc(100% - 155px);
    position: relative;
    margin-top: 2px;


    &-slides {
        position: relative;
        // height: 100vh;
    }

    &-img {

        & img {
            // height: 100%;
            // height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            // width: 100%;
            // aspect-ratio: auto 1600 / 686;
        }
    }

    &-btns {
        position: absolute;
        top: 50%;
        width: 100%;

    }

    &-arrow {
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    &-prev,
    &-next {
        // padding: 10px 10px !important;
        border: none;
        width: 50px;
        height: 50px;
        background-color: gray;
        color: #000000;
        font-size: 24px;
        border-radius: 50%;
        opacity: .7;
        transition: background .5s;

        &:hover {
            background: #ffffff;

        }
    }
}

.hero {
    &-cta {
        // background-color: #000000;
        // padding: 50px;
        position: absolute;
        top: 50%;
        left: 10%;
        // opacity: .5;
        z-index: 1;

        &_text {
            font-weight: 700;
        }
    }

    &-btn {
        padding: 14px 24px;
        background-color: #FADE4B;
        border: #FADE4B;
        font-weight: 700;
        font-size: 0.875rem;
        width: 100%;
        border-radius: 30px;
    }
}



@media screen and (max-width: 1024px) {
    .showcase {

        &-prev,
        &-next {
            width: 30px;
            height: 30px;
            background-color: gray;
            color: #000000;
            font-size: 16px;
            border-radius: 50%;
        }


    }

    .hero {
        &-cta {
            top: 25%;

            &_text {
                font-weight: 700;

            }
        }

        &-btn {
            padding: 14px 24px;
            background-color: #FADE4B;
            border: #FADE4B;
            font-weight: 700;
            font-size: 0.875rem;
            width: 100%;
            border-radius: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        &-cta {
            top: 20%;

            &_text {
                font-weight: 700;

                h1 {
                    font-size: 24px !important;
                }

                p {
                    font-size: 16px !important;
                }
            }
        }
    }

}