.showcase {
    position: absolute;
    top: 0;
    z-index: -1;
    // height: calc(100% - 155px);


    &-slides {
        position: relative;
        height: 100vh;
    }

    &-img {

        & img {
            // height: 100%;
            height: 100vh;
            width: 100%;
        }
    }

    &-btns {
        position: absolute;
        top: 50%;
        width: 100%;
    }

    &-arrow {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &-prev,
    &-next {
        padding: 10px 20px !important;
        border: none;
        background-color: transparent;
        color: #ffffff;
        font-size: 36px;
    }
}