@if(pilotsArray.length > 0) {
<div class="container-xl pilots">
    <div class="d-flex flex-column">
        <div class="pilots-title">
            <h4 class="font-bold border-bottom border-secondary">PILOTS</h4>
        </div>
        <div class="pilots-card card d-flex flex-row gap-2">
            @for( img of pilotsArray; track $index) {
            <div class="shipdetails-img">
                <img src="{{img}}" alt="Starship" class="card-img-top">
                <div class="card-body">
                    <p class="card-title">{{pilotsNames[$index]}}</p>
                </div>
            </div>
            }
        </div> 
    </div>    
</div>
}


<!-- <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->