<app-navbar></app-navbar>

@if(ship) {
<div class="container-xl shipdetails">
    <div class="shipdetails-title border-bottom border-secondary">
        <h4 class="font-bold ">STARSHIP</h4>
    </div>
    <div class="shipdetails-card">
        <div class="shipdetails-img">
            <img [src]="imgUrl" alt="Starship">
        </div>
        <div class="shipdetails-details">
            <div class="shipdetails-header">
                <div class="shipdetails-name">
                    <h4>{{ship.name}}</h4>
                </div>
                <div class="shipdetails-description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsum blanditiis dignissimos?
                        Distinctio exercitationem quis voluptate quaerat recusandae ut fugit, obcaecati possimus
                        quibusdam incidunt id saepe adipisci harum corporis fugiat?</p>
                </div>
            </div>

            <div class="shipdetails-conf">
                <ul class="shipdetails-resume">
                    <li class="shipdetails-model">Model: {{ship.model}}</li>
                    <li class="shipdetails-manu">Manufacturer: {{ship.manufacture}}</li>
                    <li class="shipdetails-cost">Cost: in credits: {{ship.cost_in_credits}}</li>
                    <li class="shipdetails-length">Length: {{ship.length}}</li>
                    <li class="shipdetails-atmosf">Atmospheric Speed: {{ship.max_atmosphering_speed}}</li>
                    <li class="shipdetails-crew">Crew: {{ship.crew}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-pilots></app-pilots>
<app-movies></app-movies>
}