.login {
    margin: 0 auto;
    margin-top: 60px;
    background-color: #ffffff;
    width: 500px;
    border-radius: 20px;

    &-heading {
        font-size: 24px;
        font-weight: 700;
    }

    &-form {
        padding: 40px;
    }

    &-header>p {
        font-size: 14px;
        font-weight: 300;
    }

    &-body {
        width: 100%;
    }

    &-email {
        margin-bottom: 30px;

        input {
            padding: 16px;
            border-radius: 10px;
            border: none;
            background-color: #E9E8F0;
            font-size: 14px;
        }
    }

    &-password {
        margin-bottom: 30px;

        input {
            padding: 16px;
            border-radius: 10px;
            border: none;
            background-color: #E9E8F0;
            font-size: 14px;
        }
    }

    &-btn {
        padding: 14px 24px;
        background-color: #FADE4B;
        border: #FADE4B;
        font-weight: 700;
        font-size: 0.875rem;
        width: 100%;
        border-radius: 30px;
    }

    &-footer {
        margin-top: 20px;

        &_h6 {
            font-size: 14px;
        }

        &_p {
            font-size: 12px;
        }
    }
}

input[type='password'],
input[type='text'],
input[type='email'] {
    width: 100%;
}

.contact-invalid {
    color: red;
    font-size: 12px;
    position: absolute;
}