<header id="header" class="container-fluid ">
    <nav class="navbar navbar-expand-lg d-flex align-items-start justify-content-between py-4 ">
        <div class="header-icons ">
            <ul class="header-list d-flex">
                <li class="header-links"><a href="#" class="header-link"><i class="fab fa-facebook fa-fw fs-4"></i></a>
                </li>
                <li class="header-links ps-2"><a href="#" class="header-link"><i
                            class="fa-brands fa-instagram fa-fw fs-4"></i></a></li>
                <li class="header-links ps-2"><a href="#" class="header-link"><i
                            class="fa-brands fa-x-twitter fa-fw fs-4"></i></a></li>
                <li class="header-links ps-2"><a href="#" class="header-link"><i
                            class="fa-brands fa-youtube fa-fw fs-4"></i></a>
                </li>
            </ul>
        </div>
        <div class="header-logo d-flex">
            <a routerLink="/" aria-label="Inicio">
                <img src="../../../assets/images/sw_logo.png" width="185px" height="80px" alt="StarWars">
            </a>
        </div>
        <div class="header-user">
            <ul class="header-menu d-flex">
                @if(!isLogged) {
                     <li class="header-login pe-4"><a routerLink="/login" class="fs-6">LOG IN</a></li>
                <li class="header-sign"><a routerLink="register" class="fs-6">SIGN UP</a></li>
                } @else {
                <li class="header-sign"><button (click)="logOut()" routerLink="home" class="fs-6">LOG OUT</button></li>
                }
               
            </ul>
        </div>
    </nav>
</header>